body{
    font-family: "Roboto Medium", "Roboto", sans-serif;
}

.titel{
    padding: 15px;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.md{
    position: absolute;
    top: 1.5%;
    left: 42%;
    font-size: 20px;
}

#time-display{
margin-left: 31%;
margin-top: 2%;
font-size: 13px;
}

.dowodzik{
    margin-right: 0px;
    border-radius: 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.sigma{
    border-radius: 30px;
    position: absolute;
    left: 7%;
}

.flaga{
    position: absolute;
    top: 33%;
    left: 10.5%;
}